* {
  scroll-behavior: smooth;
  font-family: "Playfair Display", serif;
}

@keyframes slide-in-from-right {
  0% {
    transform: translateX(
      100vw
    ); /* Početno stanje - potpuno van ekrana desno */
    opacity: 0; /* Nevidljiv */
  }
  100% {
    transform: translateX(0); /* Dolazi na normalnu poziciju */
    opacity: 1; /* Postaje potpuno vidljiv */
  }
}

/* Animacija za ljubicasti div */
.animate-slide-in {
  animation: slide-in-from-right 2s ease-out forwards;
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(
      -100vw
    ); /* Početno stanje - potpuno van ekrana sa leve strane */
    opacity: 0; /* Nevidljiv */
  }
  100% {
    transform: translateX(0); /* Dolazi na normalnu poziciju */
    opacity: 1; /* Postaje potpuno vidljiv */
  }
}

/* Omotaj div u perspektivu */
.container {
  perspective: 1000px;
}

/* Animacija za ljubicasti div */
.animate-slide-in-from-right {
  animation: slide-in-from-right 2s ease-out forwards;
  transform-style: preserve-3d; /* Očuvanje 3D efekta */
}

/* Animacija za bijeli div */
.animate-slide-in-from-left {
  animation: slide-in-from-left 2s ease-out forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.ani {
  animation: appear 1.5s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: "white";
  border-bottom: 4px solid #9f7aea;
}

.bg-purple {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #9f7aea;
  animation: slide-in-from-right 1.5s ease-out forwards;
  transform-style: preserve-3d;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.white-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  animation: slide-in-from-left 1.5s ease-out forwards;
  z-index: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.text-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.text-main {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

h2.text-sub {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  text-align: center;
  animation: fade-in 2.2s ease-out forwards;
  margin-right: 20wpx;
}

.bottom-first-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding-left: 80px;
  color:'#9F7AEA'
}

.icon-img {
  width: 33.33%;
  height: auto;
  margin-right: 2rem;
}

.text-bottom {
  width: 50%;
  font-size: 22px;
  margin-left: 80px;
}
#item {
  list-style: none;
  display: flex;
  gap: 20px;
  position: fixed;
  top: 1%;
  left:1%;
  width: 50%;
  z-index: 1000;
  animation: fade-in 1.5s ease-out forwards;
}

#item li {
  display: inline;
  background-color: white;
  border: 2px solid #9f7aea;
  border-radius: 30px;
  text-align: center;
  width: 200px;
}

#item a {
  text-decoration: none;
  color: #9f7aea;
  font-weight: bold;
  padding: 10px ;
  display: block;
}
#item a:hover {
  border: 4px solid;
  border-radius: 30px;
}
.stem-img {
  width: 60%;
  height: auto;
  object-fit: cover;
  display: block;
  margin-left: 250px;
}
.bottom-second-section {
  position: relative;
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

